<header> 
	<div class="title">
	<h1>BASEBALL FOR LIFE:  The Next Chapter</h1><%= @latest_week %>
	</div>
	<div class="navbar">
		<nav>
			<ul class="links">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Standings", standings_path %></li>
				<li><%= link_to "Power Rankings", powerrankings_path %></li>
				<li><%= link_to "Keepers", keepers_path %></li>
				<li><%= link_to "History", history_path %></li>
				<li><%= link_to "Team Bios", teambios_path %></li>
				<li><%= link_to "Other Fantasy SItes", fantasybaseballsites_path %></li>
		    <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <%= link_to "Settings", edit_user_path(current_user) %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

