<header> 
	<div class="title">
	<h1>BASEBALL FOR LIFE:  The Next Chapter</h1>
	</div>
	<div class="navbar">
		<nav>
			<ul class="links">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Standings", standings_path %></li>
				<li><%= link_to "Power Rankings", powerrankings_path %></li>
				<li><%= link_to "Keepers", keepers_path %></li>
				<li><%= link_to "History", history_path %></li>
				<li><%= link_to "Team Bios", teambios_path %></li>
				<li><%= link_to "Other Fantasy SItes", fantasybaseballsites_path %></li>
			</ul>
		</nav>
	</div>
</header>
