<!DOCTYPE html>
<html>
	<head>
		<title>BaseballForLife</title>
		<%= stylesheet_link_tag    "application", :media => "all" %> <!-- HTML equivleant:  <link href="/assets/application.css" media="all" rel="stylesheet"
		type="text/css" /> -->
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>	<!-- If browser is less than I.E.9 -->
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
		<%= yield %>
		<%= debug(params) if Rails.env.development? %>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>
